<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    body {
      margin: 0;
    }


    content {
      min-width: 100%;
      min-height: 100%;
        background-color: #F7F7F7;
    
    }

.best  {
  margin-left: 36%;
}
   .best  img {
width: 37%;
 margin-left: 3%;

   }

   .media img {
    margin-top: 10%;
width: 100%;
   }

  </style>


  <content>


    <div class="best">
      <h1 style="font-size: 40px;">Best Selling Product</h1>
      <img src="/media/Frame 48095400.png" alt="">
    </div>

    
    <div class="media">

      <img src="media/Group 48095401.png" alt="">

    </div>

  </content>
</body>

</html>