<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <style>
        body {
            margin: 0;
        }

        footer {
            display: flex;
            background-color: #F7F7F7;
            min-height: 100%;
            align-items: center;
            justify-content: space-evenly;
            align-items: center;

        }

        .panto {
            width: 45%;
        }

        .panto h1 {

            font-size: 30px;
            margin-top: 20%;
            margin-left: 20%;
        }

        .panto h2 {
            opacity: .3;
            margin-left: 20%;
            margin-top: 28%;
            font-size: 19px;
        }

        .panto h3 {
            opacity: .7;
            font-weight: 100;
            width: 60%;
            margin-left: 20%;
            margin-top: 25px;
        }

        .services li {
            list-style-type: none;
            padding: 10px;
            font-size: 15px;
            color: #1E1E1E;


        }

        .furniture li {
            list-style-type: none;
            padding: 10px;
            font-size: 15px;
            color: #1E1E1E;
        }


        .follow li {
            list-style-type: none;
            padding: 10px;
            color: #1E1E1E;
            font-size: 15px;

        }
    </style>


    <footer>

        <div class="panto">
            <h1>Panto</h1>
            <h3>The advantage of hiring a workspace with us is that givees you comfortable service and all-around
                facilities.</h3>
            <h2>Copyright © 2021</h2>
        </div>

        <div class="services">
            <ul>
                <li style="color: orange; ">Services</li>
                <li>Email Marketing</li>
                <li>Campaigns</li>
                <li>Branding</li>
            </ul>

        </div>

        <div class="furniture">
            <ul>

                <li style="color: orange;">Furniture</li>
                <li>Beds</li>
                <li>Chair</li>
                <li>All</li>
            </ul>


        </div>

        <div class="follow">

            <ul>
                <li style="color: orange;">Follow Us</li>
                <li> <img src="/media/001-facebook.png" alt="dgvd"> Facebook</li>
                <li><img src="/media/003-twitter.png" alt=""> Twitter</li>
                <li><img style="width: 18px;" src="/media/004-instagram.png" alt=""> Instagram</li>


            </ul>


        </div>




    </footer>
</body>

</html>