<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        header {
            background-image: url(media/Rectangle\ 1441.png);
            background-repeat: no-repeat;

        }

        .backgroundStyle {

            display: flex;
        }

        .novbar {
            position: absolute;
            z-index: 1;
            color: white;
            display: flex;
            font-size: 35px;
            top: 6%;
            left: 6%;
        }

        .novbar  {
           
    display: flex;
align-items: center;
height: 3%;
}

        
        ul li {
    list-style-type: none;
    display: inline-block;
   
    padding:60px;
    font-size: 18px;
    color: white;
   
    
  
  
  
}

        .text {
            position: absolute;
            z-index: 3;
            top: 10%;
            left: 10%;
            color: white;
            height: 7%;
            text-align: center;
            width: 80%;


        }

        .text p {
            width: 53%;
          
            margin-left: 20%;
            font-size: 15px;
            position: absolute;
            z-index: 4;
            font-family: 'Courier New', Courier, monospace;
            line-height: 30px;

        }

  
    </style>
    <header>
        <nav class="novbar">

            <span>Panto</span>

<ul>
    <li>Furniture</li>
    <li>Shop</li>
    <li>About Us</li>
    <li>Contact</li>
   
</ul>

            





        </nav>

        <div class="backgroundStyle">

            <img style="min-width: 100%;" src="/media/Rectangle 1441.png" alt="">



        </div>
        <div class="text">
            <h1 style="font-size: 75px;">Make Your Interior More Minimalistic & Modern</h1>

            <p style="opacity: .5 ">Turn your room with panto into a lot more minimalist and modern with ease and speed
            </p>


        </div>



    </header>
</body>

</html>